{% extends "base.html" %}

{% block title %}
Cadastrar Temporada
{% endblock %}

{% block content %}

<h1>Cadastrar Temporada</h1>

<form method="POST" action="{{ url_for('cadastrar_temporada') }}">

    <label for="titulo">Título da temporada:</label>
    <input type="text" id="titulo" name="titulo" required>

    <label for="descricao">Descrição:</label>
    <textarea id="descricao" name="descricao" required></textarea>

    <label for="status">Status:</label>
    <input type="text" id="status" name="status" required>

    <label for="data_publicacao">Data de publicação:</label>
    <input
        type="date"
        id="data_publicacao"
        name="data_publicacao"
        required
    >
    <button type="submit">Cadastrar</button>
</form>

{% endblock %}